<h2>Create Entry</h2>

<form>
<input placeholder="author" data-ng-model="vm.entry.author" value="vm.entry.author"/>
<input placeholder="photo_url" data-ng-model="vm.entry.photo_url" value="vm.entry.photo_url" />
<textarea placeholder="body" data-ng-model="vm.entry.body" value="vm.entry.body" />
<button type="button" data-ng-click= "vm.create()">Create</button>
</form>
